/*
=============== 
Fonts
===============
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

/*
=============== 
Variables
===============
*/

:root {
    /* colors */
    --primary-1: #ccd8f5;
    --primary-2: #99b1eb;
    --primary-3: #668be0;
    --primary-4: #3364d6;
    --primary-5: #003DCC;
    --primary-6: #0031a3;
    --primary-7: #00257a;
    --primary-8: #001852;
    --primary-9: #000c29;

    --yellow-1: #f7f6d9;
    --yellow-2: #f0edb3;
    --yellow-3: #e8e58d;
    --yellow-4: #e1dc67;
    --yellow-5: #d9d341;
    
    --green-1: #c2f8c7;
    --green-2: #8cdda1;
    --green-3: #2bb442;
    --green-4: #3a8544;
    --green-5: #1c611a;

    --red-1: #f7bebd;
    --red-2: #f28e8c;
    --red-3: #ec5d5b;
    --red-4: #a54140;
    --red-5: #5e2524;

    --grey-1: #dae2ec;
    --grey-2: #bcccdc;
    --grey-3: #9eb2c7;
    --grey-4: #829ab0;
    --grey-5: #617d98;
    --grey-6: #48647f;
    --grey-7: #324d67;
    --grey-8: #243a52;
    --grey-9: #102a42;
    --white: #fff;
    --black: #000;

    /* fonts */
    --ff-primary: 'Lato', sans-serif;
    --ff-secondary: 'Noto Sans', sans-serif;

    /* general styling */
    --transition: all 0.3s ease-in-out;
    --letterSpacing: 0.25rem;
    --gap: 1rem;
    --borderRadius: 0.5rem;
    --shadow: 0 0px 2px 2px var(--grey-6);
    --shadow-left-down: -5px 5px 5px 5px var(--grey-6);
    --shadow-right-down: 5px 5px 5px 5px var(--grey-6);
    --shadow-heavy: 0px 0px 25px 25px var(--grey-6);
    --shadow-inset: inset 0px 0px 5px 5px var(--grey-1);
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--ff-secondary);
  background: var(--grey-1);
  color: var(--grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--primary-1);
}
h1,
h2,
h3,
h4 {
    letter-spacing: var(--letterSpacing);
    line-height: 1;
    font-family: var(--ff-primary);
}
h1 {
  font-size: 2rem;
  text-transform: capitalize;
}
h2 {
  font-size: 1.85rem;
}
h3 {
  font-size: 1.6rem;

}
h4,
p {
  letter-spacing: 0.1rem;
  font-size: 1rem;
}
.small-text {
  letter-spacing: 1;
  font-size: 0.55rem;
}
.text-contrast {
  color: var(--yellow-3);
}
img {
  width: 100%;
  display: block;
}
.btn {
  margin-bottom: 0.35rem;
  text-transform: uppercase;
  background: var(--grey-9);
  color: var(--white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--letterSpacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--grey-6);
  cursor: pointer;
  box-shadow: var(--shadow-1);
  border-radius: var(--borderRadius);
}
.btn:hover {
  color: var(--white);
  background: var(--black);
  transform: scale(1.2);
  border: 2px solid var(--grey-1);
}
/*
=============== 
Media Queries
===============
*/

@media screen and (min-width: 512px) {
  h1 {
      font-size: 3rem;
  }
  h2 {
      font-size: 2rem;
  }
  h3 {
      font-size: 1.85rem;
  }
}

@media screen and (min-width: 768px) {
  h1 {
      font-size: 4rem;
    }
  h2 {
      font-size: 2.5rem;
    }
  h3 {
      font-size: 2.1rem;
    }
  h4 {
      font-size: 1.5rem;
    }
  body {
      font-size: 1.2rem;
    }
  h1,
  h2,
  h3,
  h4 {
      line-height: 1;
  }
  p {
      font-size: 1.1rem;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
      font-size: 5rem;
    }
  h2 {
      font-size: 3.5rem;
    }
  h3 {
      font-size: 2.75rem;
    }
  h4 {
      font-size: 1.75rem;
    }
  body {
      font-size: 2rem;
    }
  h1,
  h2,
  h3,
  h4 {
      line-height: 1;
  }
  p {
      font-size: 1.2rem;
  }
}