/*
=============== 
Main Content
===============
*/
/* Pages */
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  background: var(--primary-9);
  box-shadow: inset 0px 12px 15px -15px;
}
.page h2 {
  margin-bottom: var(--gap);
  text-align: center;
  text-shadow: -4px 0px 2px black;
  text-decoration: underline;
  font-size: 3.3rem;
}

/* About */

.about-content {
  margin: 1rem 5%;
  max-width: 815px;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 5px 0px var(--yellow-6), inset 0px 0px 14px 8px #000;
  transition: var(--transition);
}
.about-content h2 {
  padding-right: 7rem;
}
.about-content p {
  position: relative;
  padding: 1.5rem;
  box-shadow: inset 0px 0px 4px 6px var(--black);
}
.about-content a {
  color: var(--grey-6);
  transition: var(--transition);
}
.about-content a:hover {
  border-radius: 10rem;
  background: var(--primary-2);
  padding: 0.12rem;
  color: var(--primary-9);
}

.about-content img {
  position: relative;
  float: right;
  max-width: 375px;
  width: 50%;
  border: 2px solid var(--primary-9);
  border-radius: 50%;
  z-index: 1;
}
.portrait-icon:hover {
  color: var(--red-3);
}

/* skills */

.skills-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
.skills-content h3 {
  color: var(--primary-1);
  margin-bottom: 1rem;
  text-align: center;
}
.skills-content p {
  position: relative;
  max-width: 454px;
  padding: 1.5rem;
  border-radius: 0.35rem;
  box-shadow: 0px 0px 5px 0px var(--yellow-6), inset 0px 0px 4px 6px #000;

}
.skills-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  max-width: 454px;
  padding: 1.5rem 2.2rem;
  border-radius: 0.35rem;
  background: var(--primary-1);
  color: var(--grey-9);
  box-shadow:  0px 0px 5px 0px var(--yellow-6), inset 0px 0px 4px 6px #000;
  line-height: 1.5;
  font-size: 1.2rem;
}
.skills-list li:first-child {
  text-decoration: underline;
}
.skills-list li:not(:first-child) {
  padding-left: 1rem;
  line-height: 2;
}
.attributes,
.professional {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Projects */

.projects-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 2rem;
  max-width: 778px;
  background: var(--primary-1);
  border-radius: 0.35rem;
  box-shadow: inset 0px 0px 8px 12px var(--primary-9);
}
.project img {
  margin: 1rem auto;
  max-width: 45%;
  border-radius: 0.65rem;
  border: 2px solid var(--primary-9);
}
.project p {
  max-width: 80%;
  text-align: center;
}


/*
=============== 
Media Queries
===============
*/

@media  screen and (min-width: 512px) {
  
}
@media  screen and (min-width: 768px) {
  .about-content {
    margin: 1rem 10%;
  }
  .skills-content {
    flex-direction: row;
    gap: 5rem;
  }
  .attributes,
  .professional {
    width: 40%;
  }
}
@media  screen and (min-width: 1024px) {
  .about-content {
    margin: 1rem 20%;
  }
}